<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header [people]="people"></app-header>
  
  <div class="chat-container">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let person of people">
        <app-chat></app-chat>
        <app-person></app-person>
      </div>
    </div>
    <app-sidebar [people]="people"></app-sidebar> <!-- Сайдбар находится в конце, чтобы быть справа -->
  </div>

</body>
</html>